<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- <uses-permission android:name="android.permission.CAMERA"/> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.KerasaanEStore"
        tools:targetApi="31">
        <activity
            android:name=".activity.penjual.Activity_Data_Penjualan"
            android:exported="false" />
        <activity
            android:name=".activity.penjual.Activity_Edit_Nama_Toko"
            android:exported="false" />
        <activity
            android:name=".activity.penjual.Activity_Kelola_Toko"
            android:exported="false" />
        <activity
            android:name=".activity.penjual.Activity_Tambah_Produk_Penjual"
            android:exported="false" />
        <activity
            android:name=".activity.penjual.Activity_Detail_Produk_Penjual"
            android:exported="false" />
        <activity
            android:name=".activity.penjual.Activity_Produk_Penjual"
            android:exported="false" />
        <activity
            android:name=".activity.penjual.Activity_Buat_Toko"
            android:exported="false" />
        <activity
            android:name=".activity.penjual.Dashboard_Penjual"
            android:exported="false" />
        <activity
            android:name=".activity.user.Activity_Riwayat_Pembelian"
            android:exported="false" />
        <activity
            android:name=".activity.user.Activity_Ganti_Username"
            android:exported="false" />
        <activity
            android:name=".activity.user.Activity_Edit_Profil"
            android:exported="false" />
        <activity
            android:name=".activity.user.Activity_Check_Ongkir"
            android:exported="false" />
        <activity
            android:name=".activity.user.Activity_Checkout"
            android:exported="false" />
        <activity
            android:name=".activity.user.Activity_Product_By_Kategori"
            android:exported="false" />
        <activity
            android:name=".activity.user.Activity_Search_Product"
            android:exported="false" />
        <activity
            android:name=".activity.user.Activity_Detail_Produk_User"
            android:exported="false" />
        <activity
            android:name=".activity.user.Activity_Dashboard_User"
            android:exported="false" />
        <activity
            android:name=".activity.auth.Register_Activity"
            android:exported="false" />
        <activity
            android:name=".activity.auth.Login_Activity"
            android:exported="false" />
        <activity
            android:name=".activity.auth.LandingPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>

</manifest>